.jumbotron {
  background-color: #fffa19;
  color: black;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
footer {
  background-color: #fffa19;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0;
}
.card-hotel {
  flex: 1 200px;
  padding: 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.tab-content {
  padding-top: 10px;
}
